<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please visit one of the endpoints below:</p>
    <ul>
      <li><a href="/character/luke">/character/luke</a></li>
      <li><a href="/characters?sort=mass">/characters?sort=mass</a></li>
      <li><a href="/planetresidents">/planetresidents</a></li>
    </ul>
  </body>
</html>
